header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8rem;

    color: var(--white);
}

.logo {
    width: 8rem;
}

#formLogin {
    display: grid;
    gap: 3.2rem;
}

#forget-password{
    color: var(--white);
    margin-top: .8rem;
}

