<header>    
    <div>
        <div>
            <a href = "../home/home.php">                
                <p>HOME</p>
            </a>           

            <a href= "../atividades_ao_ar_livre/insert/insert_atividade.php">                
                <p>CRIAR ATIVIDADE AO AR LIVRE</p>
            </a>
            
            <button onclick="window.location.href = '../../CONFIG/login/logout.php';">
                LogOut ❌
            </button>            
        </div>        
    </div>    
</header>